<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.android.dacooker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DaCooker">
        <activity android:name=".activities.RecipeDetails"></activity>
        <activity
            android:name=".activities.CustomActivity"
            android:label="@string/custom_recipes_label" />
        <activity
            android:name=".activities.MostUsedActivity"
            android:label="@string/most_used_recipes_label" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/recipes_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>