<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.android.dacooker">

    <!--Permisos necesarios para las funcionalidades totales de la aplicación-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- La aplicación se ha desarrollado de tal manera que solo permite orientación vertical-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DaCooker">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.StepsRecipeCooking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddUpdateRecipeActivity"
            android:label="@string/add_new_recipe_label"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.RecipeDetails"
            android:label="@string/recipe_detail_label"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DaCooker.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DaCooker.NoActionBar"/>

        <service
            android:name=".services.SoundService"
            android:enabled="true" />

        <receiver android:name=".utilities.NotificationsPush" />
    </application>

</manifest>